.footer{
    background-color: #3c5c6b18;
 }
 h3{
     color: #2b4049f7;
 }
 .line::after{
     content: "";
     /* display: block; */
     width:80px;
     align-items: center;
     height:2px;
     top: 130%;
     left:48%;
     position: absolute;
     /* border-width: 2px; */
     border:2px solid #4b6c7af7;
     /* margin: 10px 0px; */
 }
 li{
     color:#57656be5 ;
 }
 footer li {
     line-height: 35px;
 }
 footer i {
     font-size: 20px;
 }
 p{
     color: #243b4b;
 }
 
 
 #scroll {
     position:fixed;
     right:10px;
     bottom:10px;
     cursor:pointer;
     width:50px;
     height:50px;
     background-color:#3498db;
     text-indent:-9999px;
     display:none;
     -webkit-border-radius:60px;
     -moz-border-radius:60px;
     border-radius:60px
 }
 #scroll span {
     position:absolute;
     top:50%;
     left:50%;
     margin-left:-8px;
     margin-top:-12px;
     height:0;
     width:0;
     border:8px solid transparent;
     border-bottom-color:#ffffff;
 }
 #scroll:hover {
     background-color:#e74c3c;
     opacity:1;filter:"alpha(opacity=100)";
     -ms-filter:"alpha(opacity=100)";
 }