<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- <h1>Welcome to EJS</h1> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item" >Home</a>

                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/about">About</a>

                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/service">Service</a>
                    </li>

                    <li class="nav-item">
                        <a href="http://localhost:8000/contact">Contact</a>
                        </a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div>
        <!-- slider -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://bonpic.com/wallpapers/original/5575.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://storge.pic2.me/upload/665/61103458b7f7d2.91818757.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://yandex-images.clstorage.net/uHF97X415/cc7babwDaj/Ude-DuaPF4mPr0A_11vCsF3f_FvRf_L6_JxFEAyyOwYcb4sdkU0skXGKfXKGsC6BkcYFpSrSNnbfJYy3FNsh8hSG-0L9kViDjq9DMt5Ay7dW1_wDlGPEmtS5Oi5wgkAjMBCXRMxIfdg80XR-4ddr4e7hRtJOl01r2E3lwmSseqNg0ZAg5rlrj4G5IjbfV9GbbbX0e-kzwZDgnisHTZ5sPiMYr2HBYHvWRP5PfsbOBP7u03H1SZRAUPhw-N1GvU2uRfeoAMKyQK6olAwJzkznn0a0xVzON_iW5IgqEFKDUBMtE6tW8kVB03PkU2X9-CzexcFGwF-ganbfUuH_bKJgrVDnrSTSlF6siJ4nCtF_ypBRmth41xr4htSOPSBVpmgNNB27cudifdZV4VN17d4m98jKa-9RhFZl-k3P1mWeaaph-70W_bJyqrqOKyPvffy9XKjoaMA175bUnjsfc55lHT8XgmP6Ynn2cfdWZuzwMtbt10bSbrZZRsRM7NFiv1Szbv2tCvCYdIuTlBYs92HgjH2LxF_oMc200rk3BkmBRRwQO4xs23Z6yHv2SGXS_THQ1sxcz0ydQEHyY9bfRqddqWbwmTvum1SVmY0vCfBQ8LtKmuFtySHLhOyqCyRppGEWEyyWdedafMRC9Elbz9o77PT9Zc16hHFm1lzW_XWgcYdEzq0Y55lctK66KgnEXO69abDDdvwS9pzsjhU4SZ9hCj4RvmnQZXTJUNd0fNj6O-_o137gdahycOR_2vZgmkGzd_6PAuSxbZWCsQok1GHsk02L92T3I_WR1KE9O3GFYSY7BLxfxl5341r1eXb28A_eye1w32mVbGLOQ-TQV6JxhWDGmyjblnipppk-NsJW_4xEoMRN0CPYo-SzDxhHk0oDMhClZtVacNJw9nJ_8cUj4P_eYsBqo0VCxUTbyXead6xP0qUHw7lRlKS_AgPFRtyRdrTrXMEj0LXgqwEWbIY" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</body>
<style>
    .nav-item a {
        /* font-family:'poppins'; */
        text-decoration: none;
        font-size: 18px;
        color: black;
        height: 20px;
        margin-top: 10px;
        padding-inline-start: 14px;
        
    }
    .carousel-item img{
        height: 90vh;
    }

</style>

</html>